h1, h2, h3, h4, h5 {
	color: darkred;
}

hr {
	color: darkred;
}

pre {
	background-color: #f0f0f0;
	padding: 10px;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 9pt;
	white-space: pre;
	overflow: auto;
}

table {
    border-collapse: collapse; /* Ensures borders are shared between cells */
}

th, td {
    border: 1px solid #d3d3d3; /* Fine grey border */
    padding: 8px; /* Padding inside each cell */
    text-align: left; /* Optional: Aligns text to the left */
}

th {
    color: darkred;
    background-color: #f5f5f5; /* Optional: Background color for headers */
}
