/* Default font */
html, body {
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 11pt;
	color: #222;
	margin: 0;
}

.logo {
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
    /*border: 1px solid darkred; /* Add for a border, recommended if no image is used */ */
}
.logoSep {
	font-family: 'Didact Gothic' , sans-serif;
    font-size: 30px; /* Adjust the size as needed */
    font-weight: lighter;
	vertical-align: middle;
}
.logoB {
	font-family: 'Didact Gothic' , sans-serif;
    font-size: 30px; /* Adjust the size as needed */
    font-weight: bold;
	vertical-align: middle;
}
.logoText {
	font-family: 'Didact Gothic' , sans-serif;
    font-size: 18px; /* Adjust the size as needed */
	vertical-align: middle;
}

.image {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.projectInfo {
	font-size: 12px;
	padding: 10px;
	text-align: center;
}

.folderclose {
	font-family: 'Noto Sans Symbols 2', sans-serif;
	font-size: 10pt;
	display: inline-block;
}

.folderopen {
	font-family: 'Noto Sans Symbols 2', sans-serif;
	font-size: 10pt;
	display: none;
}

.symbol {
	font-family: 'Noto Sans Symbols 2', sans-serif;
	font-size: 10pt;
}

/* Container holding both navPane and contentPane */
.container {
	height: 100vh;
    display: flex; /* Enables Flexbox */
    width: 100%; /* Full width of the parent element */
}

/* Add your CSS styles here */
#leftPane {
	color: darkred;
	min-width: 25%;
	width: 25%;
	max-width: 25%;
	background: #F0F0F0;
	/*background: darkred;*/
	box-shadow: 4px 0 5px -3px rgba(0, 0, 0, 0.6);
}
#contentPane {
    flex-grow: 1; /* Takes up the remaining space */
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	overflow-y: auto;
}

/* Style for links within the navigation pane */
#navPane {
	padding: 10px;
}

#navPane a {
    color: inherit; /* This makes the link color the same as the parent element */
    text-decoration: none; /* Removes the underline from links */
    border: 1px solid transparent; /* Invisible border */
	overflow-y: auto;
}

#navPane a:hover {
    border: 1px dotted darkred; /* Change #000 to the desired border color */
}

/* Style for the navigation pane unordered lists */
#navPane ul {
    list-style-type: none;
    padding-left: 0;
}

#navPane ul ul { /* First level of nesting */
    list-style-type: none;
    padding-left: 20px;
}

#navPane ul ul ul { /* Second level of nesting */
    list-style-type: none;
    padding-left: 40px;
}

#navPane ul ul ul ul { /* Second level of nesting */
    list-style-type: none;
    padding-left: 60px;
}

#navPane ul ul ul ul ul { /* Second level of nesting */
    list-style-type: none;
    padding-left: 80px;
}
   
/* Style the caret/arrow */
.folder-item {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.folder-item {
    /* Other styling for the folder item */
    border: 1px solid transparent; /* Invisible border */
    /* Add padding, margins, etc., as needed */
}

.folder-item:hover {
    border: 1px dotted darkred; /* Change #000 to the desired border color */
}

/* Create the caret/arrow with a unicode character */
.caret::before {
    content: "\25B7"; /* Unicode character for the caret symbol */
    font-size: 10pt; /* Adjust the size as needed */
    display: none; /* Change to inline-block to show carets */
    margin-right: 6px;
	vertical-align: middle;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the parent list item is clicked (using JavaScript) */
.active .nested {
  display: block;
}
